/* set sizing and spacing for h1 */
#docs-content .prose h1,
#docs-content.prose h1 {
  margin-top: 6px;
  margin-bottom: 30px;
  font-size: 36px;
}

/* set sizing and spacing for h2 */
#docs-content .prose h2,
#docs-content.prose h2 {
  font-weight: normal !important;
  font-size: 30px;
  border-top: 1px solid !important;
  border-color: #d6dee8 !important;
  margin: 36px 0px 18px;
}

/* set sizing for h3 */
#docs-content .prose h3,
#docs-content.prose h3 {
  font-weight: normal;
  font-size: 24px;
}

/* add extra margin to prevent TopbarSticker from overlapping jump anchors */
#docs-content .prose h2,
#docs-content.prose h2,
#docs-content .prose h3,
#docs-content.prose h3,
#docs-content .prose h4,
#docs-content.prose h4 {
  scroll-margin-top: 50px;
}

/* make links darker in Note to improve color contrast */
.dr-ui--note a {
  color: #3151df !important;
}

/* set max-height for code examples */
.prose pre[class*='language-'] {
  max-height: 300px;
  overflow: auto;
}

/* styled scrollbars for long (x or y) code examples */
.prose pre::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}
.prose pre::-webkit-scrollbar:hover {
  background: transparent;
}
.prose pre::-webkit-scrollbar-track {
  background: none;
}
.prose pre::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  border-color: transparent;
  width: 6px;
  border-radius: 3px;
}
.prose pre::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.35);
}
.prose pre::-webkit-scrollbar-track:hover {
  background: transparent;
}

/* ability to add `scroll-auto` only on larger devices */
@media screen and (min-width: 640px) {
  .scroll-auto-mm {
    overflow: auto !important;
    -webkit-overflow-scrolling: touch;
  }
}
